.jumbotron{
           background-color: black;
}
#logo{
      display: block;
      padding-left: 500px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 30px;
  margin-left: 50px;
  margin-right: 100px;
  padding-right: 30px;
  display: flex;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.maempress{
           margin-right: 100px;
}
.maempress>p{
           display: none;
}
.monica{
           margin-right: 100px;
}
.monica>p{
           display: none;
}
.njoro>p{
           display: none;
}
