.jumbotron{
           background-image: url(sj.png);
           background-size: contain;
}
.column {
  float: left;
  width: 5%;
  padding: 30px;
  margin-left: 50px;
  margin-right: 100px;
  padding-right: 100px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column>img{
            border-radius: 50%;
            margin-right: 50px;
}
body{
     background-color: black;
     color: white;
}
.description{
             float: right;
}
